footer{
    margin-top: 10px;
    padding: 25px 0px;
    background-color: #EFEFEF;
}

#footer_out{
    display: flex;
}

#footer_in{
    display: flex;
}

#footer_out p{
    width: 30%;
    border-right: 1px solid #000000;
    text-align: center;
    font-family: Yu Mincho;
    font-weight: bold;
}

.footer_list{
    list-style: none;
    margin-left: 68px;
}

.footer_list a{
    text-decoration: none;
    color:#000;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}